# secrets
.env

# local/dev
venv/
.env
__pycache__/
.ipynb_checkpoints/
*.dmg
*.DS_Store

# local/dev
venv/
.env
__pycache__/
.ipynb_checkpoints/
*.dmg
*.DS_Store
.DS_Store
.ipynb_checkpoints/
__pycache__/
venv/
.env
*.dmg
